h1 {
  letter-spacing: 25px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
}

h4 {
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
}

.css-nav-text {
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.css-nav-img {
  display: block;
  width: 10%;
  position:absolute;
  left:0;
  top:0;
}

.css-border-width {
  display: flex;
  width: 100%;
  flex: 1;
}

.css-img-width {
  width: 40%;
  height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.css-ptext {
  font-size: 1.1em;
}

.css-form { 
  margin: 0 auto; 
  width: 250px;
}

.css-thanks {
  margin: 0 auto; 
  width: 700px;
}

@media only screen and (max-width: 576px) {
  .css-img-width {width: 70%;}
  .css-nav-img {
    display: block;
    width: 20%;
    position:absolute;
    left:0;
    top:0;
  }
  h1.css-responsive-design {
    font-size: 25px;
    letter-spacing: 10px;
  }
  .css-thanks {
    width: 100%
  }
}

/*Card Flipping Styling*/

.css-flip-card {
  background-color: transparent;
  width: 350px;
  height: 400px;
  perspective: 1000px;
}

.css-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /*text-align: center;*/
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.css-flip-card:hover .css-flip-card-inner {
  transform: rotateY(180deg);
}

.css-flip-card-front, .css-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.css-flip-card-front {
  background-color:white;
  border-radius: 25px;
}

.css-flip-card-back {
  background-color: #212529;
  color: white;
  transform: rotateY(180deg);
  border-radius: 25px;
}